.employees_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  height: 100%;
  width: 100%;
  .employees_heading {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .employees {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 99%;
    cursor: pointer;
  }
  .employees_selected {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    width: 80%;
    cursor: pointer;
    background-color: rgb(103, 146, 185);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (max-width: 600px) {
  .employees_container {
    .employees_heading {
      font-size: 1rem;
    }
    .employees {
    }
    .employees_selected {
    }
  }
}
