.header_container{
    background-color: rgb(215, 235, 253);
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1rem;

    .header_text{
        font-size: 2rem;
        font-weight: 600;
    }
}
@media screen and (max-width: 600px) {
    .header_container{
        width: 91.5%;
        justify-content: center;

    .header_text{
        font-size: 1rem;
        font-weight: 600;
    }
}
}