.day_wise_activity_container {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: white;

  .day_wise_activity_date {
    padding-right: 1rem;
  }
  .day_wise_activity_count_label {
    .day_wise_activity_count {
    }
    .day_wise_activity_label {
      font-size: 0.5rem;
      padding: 0rem 0.7rem 0.1rem 0.7rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .day_wise_activity_container {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: white;

    .day_wise_activity_date {
      font-size: 0.5rem;
      padding-right: 1rem;
    }
    .day_wise_activity_count_label {
      .day_wise_activity_count {
        font-size: 0.5rem;
      }
      .day_wise_activity_label {
        font-size: 0.3rem;
        padding: 0rem 0.4rem 0.1rem 0.4rem;
      }
    }
  }
}
